* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #eaeaea;
    border: 3px dotted #333;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    margin-left: 22%;
    margin-top: 12%
    
}


.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
     gap: 10px;
}

.link {
    text-decoration: none;
    border: 1px #333 solid;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    color: #ff00e6;
    font-size: 18px;
    margin: 5px 0;
    transition: 0.2s ease;


}


.link:hover {
    text-decoration: none;
    background-color: #6e656d;
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
    transition: 0.2s ease;
}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 120px;
}


.images-santorini {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 500px;
    gap: 8px;
    width: 100%;
    margin-top: 20px;
}

.images-santorini img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero {
    text-align: center;
}

.description {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
}

.images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 600px;
    gap: 8px;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


        